<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE configuration
	 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-config.dtd">
	  <configuration>
  	<typeAliases>
  		<typeAlias type="com.mhj.s2.Notice.NoticeDTO" alias="NoticeDTO"/>
  		<typeAlias type="com.mhj.s2.Notice.NoticeImgDTO" alias="NoticeImgDTO" />
  		<typeAlias type="com.mhj.s2.util.PagerK" alias="PagerK"/>
  		<typeAlias type="java.lang.Long" alias="Long"/>
  	</typeAliases>
  </configuration>